{{ partial "header.html" . }}

<main class="content" role="main">

  {{ partial "header/home.html" . }}

  <h1>Blog</h1>

  <div class="archive">
    {{ range where .Site.RegularPages "Type" "post" }}
    <article class="archive-item">
      <span class="archive-item-date">
        {{ .Date.Format "January 2, 2006" }}
      </span>
      <span><a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a></span>
    </article>
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
